@page "/userprofile"
@model Web.Pages.UserProfile.UserProfileModel

@{
    ViewData["Title"] = "Profile";
}

<p></p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            @*<div class="image-container">
                                <img src="https://via.placeholder.com/150/0000FF/808080%20?Text=Digital.com" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">
                                    Account
                                </h2>
                            </div>*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Info</a>
                                </li>
                            </ul>

                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="ProfileViewModel.ID" />
                                        <div class="form-group">
                                            <label asp-for="ProfileViewModel.FirstName" class="control-label"></label>
                                            <input asp-for="ProfileViewModel.FirstName" class="form-control" />
                                            <span asp-validation-for="ProfileViewModel.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileViewModel.LastName" class="control-label"></label>
                                            <input asp-for="ProfileViewModel.LastName" class="form-control" />
                                            <span asp-validation-for="ProfileViewModel.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileViewModel.EmailAddress" class="control-label"></label>
                                            <input asp-for="ProfileViewModel.EmailAddress" class="form-control" />
                                            <span asp-validation-for="ProfileViewModel.EmailAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileViewModel.PhoneNumber" class="control-label"></label>
                                            <input asp-for="ProfileViewModel.PhoneNumber" class="form-control" />
                                            <span asp-validation-for="ProfileViewModel.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileViewModel.Password" class="control-label"></label>
                                            <input asp-for="ProfileViewModel.Password" class="form-control" />
                                            <span asp-validation-for="ProfileViewModel.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="Save"/>
                                            <input type="submit" value="Delete Account" class="btn btn-danger" asp-page-handler="Delete"/>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p></p>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
